/* style.css */

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #f8f9fa;
}

.navbar-brand img {
    height: 40px;
}

.nav-link {
    margin-right: 36px;
    font-weight: bold; 
    color: hwb(0 53% 47%);
}

.nav-link:hover {
    color: #000000; 
}

header {
    margin-top: 5rem;
}

.light-italic {
    font-weight: 300; 
    font-style: italic;
}

.profile-picture-container {
    width: 250px; 
    height: 250px; 
    overflow: hidden;
    border-radius: 0%;
    justify-content: center;
    align-items: center; 
    margin: 0 auto; 
}

.profile-picture {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.ilustrasi-picture-container {
    width: 100%; 
    height: 500px;
    overflow: hidden; 
    border-radius: 0%;
    justify-content: center;
    align-items: center; 
    margin: 0 auto; 
}

.ilustrasi-picture {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem; 
    }

    .lead {
        font-size: 1rem; 
    }

    .profile-picture-container {
        max-width: 150px; 
    }

    .nav-link {
        margin-right: 20px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }

    .lead {
        font-size: 0.875rem;
    }

    .profile-picture-container {
        max-width: 120px;
    }

    .nav-link {
        margin-right: 10px;
    }
}